/* purgecss start ignore */
@import 'fonts.css';

@tailwind base;
@tailwind components;

/* purgecss end ignore */

@import 'swiper/css';

html, body {
  @apply bg-black text-white overflow-x-hidden;
  font-size: 14px;
}

.container {
  @apply mx-auto;
  width: 90%;
  max-width: 500px;
}

.input {
  @apply rounded-md text-white px-2 py-1 bg-gray-800 border border-white;
}

.button {
  @apply px-2 py-1 text-center bg-gray-800 rounded-md;
}

.portable-text > * {
  @apply mb-4;
}

.portable-text > *:last-child {
  @apply mb-0;
}

.portable-text a:link {
  @apply underline;
}
/*
@screen sm {

}

@screen md {

}

@screen lg {

}

@screen xl {

}
*/
@tailwind utilities;
